/* ABOUT HERO SECTION */
.about-hero{
    padding:140px 20px 80px;
    text-align:center;
    animation:fadeSlide 1.2s ease-in-out;
}

.about-hero h1{
    font-size:45px;
    color:gold;
    margin-bottom:15px;
}

.about-hero p{
    font-size:18px;
    color:#ccc;
}

/* ABOUT CONTENT */
.about-content{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:40px;
    padding:40px 20px 100px;
}

.about-box{
    background:#222;
    padding:30px;
    width:300px;
    border:1px solid gold;
    transition:0.4s;
    text-align:left;
}

.about-box h2{
    color:gold;
    margin-bottom:15px;
}

.about-box p{
    line-height:1.6;
    color:#ddd;
}

.about-box ul{
    list-style:none;
    padding-left:0;
}

.about-box ul li{
    margin-bottom:10px;
}

/* HOVER EFFECT */
.about-box:hover{
    transform:translateY(-8px);
    background:gold;
    color:black;
}

.about-box:hover h2{
    color:black;
}

.about-box:hover p,
.about-box:hover li{
    color:black;
}

/* ANIMATION */
@keyframes fadeSlide{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}