.contact{
    padding:120px 20px;
    text-align:center;
}

.contact h1{
    color:gold;
    margin-bottom:30px;
}

.contact input,
.contact textarea{
    width:60%;
    padding:12px;
    margin:10px auto;
    display:block;
    background:#111;
    border:1px solid gold;
    color:white;
}

.contact textarea{
    height:120px;
}