.login-section{
    display:flex;
    justify-content:center;
    gap:40px;
    padding:120px 20px;
    flex-wrap:wrap;
}

.form-box{
    background:#222;
    padding:40px;
    width:320px;
    border:1px solid gold;
    transition:0.3s;
}

.form-box:hover{
    transform:translateY(-5px);
}

.form-box h2{
    color:gold;
    margin-bottom:20px;
}

.form-box input{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    background:#111;
    border:1px solid gold;
    color:white;
}