*{margin:0;padding:0;box-sizing:border-box;}

body{
    font-family:Arial;
    background:#004d4d;
    color:white;
    padding-top:80px;
    padding-bottom:60px;
}

header{
    position:fixed;
    top:0;
    width:100%;
    background:#003333;
    text-align:center;
    padding:15px;
    border-bottom:2px solid #00ffff;
}

.logo{color:#00ffff;font-weight:bold;}

nav a{color:white;margin:10px;text-decoration:none;}
nav a:hover{color:#00ffff;}

.register-section{
    margin-top:140px;
    text-align:center;
}

.form-box{
    width:350px;
    margin:auto;
    padding:30px;
    background:#003333;
    border-radius:8px;
}

.form-box h2{
    margin-bottom:20px;
    color:#00ffff;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:none;
    border-radius:5px;
}

button{
    width:100%;
    padding:10px;
    background:#00ffff;
    color:black;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

footer{
    position:fixed;
    bottom:0;
    width:100%;
    background:#003333;
    text-align:center;
    padding:15px;
    border-top:2px solid #00ffff;
}