*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI', sans-serif;
    background:#111;
    color:white;
    padding-top:80px;
}

/* HEADER */
header{
    position:fixed;
    top:0;
    width:100%;
    background:black;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    border-bottom:2px solid gold;
    z-index:1000;
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:gold;
    letter-spacing:2px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    transition:0.3s;
    position:relative;
}

nav a::after{
    content:"";
    position:absolute;
    width:0;
    height:2px;
    left:0;
    bottom:-5px;
    background:gold;
    transition:0.3s;
}

nav a:hover::after{
    width:100%;
}

nav a:hover{
    color:gold;
}

/* HERO */
.hero{
    text-align:center;
    padding:150px 20px;
    animation:fadeIn 1.5s ease-in-out;
}

.hero h1{
    font-size:50px;
    color:gold;
    margin-bottom:20px;
}

.hero p{
    font-size:18px;
    margin-bottom:30px;
}

/* BUTTON */
.btn{
    padding:12px 30px;
    background:gold;
    color:black;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:white;
    transform:scale(1.05);
}

/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    border-top:2px solid gold;
    margin-top:60px;
}

/* ANIMATION */
@keyframes fadeIn{
    from{opacity:0; transform:translateY(30px);}
    to{opacity:1; transform:translateY(0);}
}