* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.logo{
    display: flex;
    align-items: center;   /* vertically align */
    font-size: 24px;
    font-weight: bold;
    color: gold;
    letter-spacing: 2px;
}

.logo img{
    height: 70px;
    margin-right: 10px;  
}

.logo span{
    font-family: Arial, sans-serif;
}
#trainers {
    background-color: #000;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
}

#trainers h1 {
    font-size: 36px;
    color: #d4af37; /* Gold */
    margin-bottom: 10px;
}

#trainers p {
    color: #ccc;
    margin-bottom: 40px;
}
.trainer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}
.trainer-card {
    background: #111;
    border-radius: 15px;
    padding: 20px;
    transition: all 0.4s ease;
    border: 1px solid #222;
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.2);
    overflow: hidden;
}
.trainer-card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 25px rgba(212, 175, 55, 0.6);
    border: 1px solid #d4af37;
}
.trainer-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: 0.4s;
}
.trainer-card:hover img {
    transform: scale(1.05);
}

.trainer-card h3 {
    color: #d4af37;
    margin-bottom: 10px;
}
.trainer-card p strong {
    color: #fff;
}
.trainer-card p {
    font-size: 14px;
    color: #ccc;
}
@media (max-width: 768px) {
    #trainers h1 {
        font-size: 28px;
    }

    .trainer-card img {
        height: 200px;
    }
}

@media (max-width: 480px) {
    #trainers {
        padding: 40px 15px;
    }

    .trainer-card {
        padding: 15px;
    }
}