.trainers{
    padding:120px 20px;
    text-align:center;
}

.trainers h1{
    color:gold;
    margin-bottom:40px;
}

.trainer-card{
    background:#222;
    padding:25px;
    margin:20px auto;
    max-width:400px;
    border:1px solid gold;
    transition:0.3s;
}

.trainer-card:hover{
    background:gold;
    color:black;
    transform:scale(1.05);
}